a{
  color:rgb(0, 113, 113);
  font-size: 26px;
  display: block;
  margin-bottom: 50px;

 
}
.nike-shoes{
color:rgb(0, 0 0);
font-size: 38px;
font-weight: bolder;

}

.stocks{
margin-top: 20px;
font-size: 18px;
font-weight: bold;
color: rgb(0,118,0);
}

.delivery{
font-size: 20px;
font-weight: 700;
color:rgb(75, 75, 75);
}

.add-to-cart{
background-color: rgb(255,216,20);
height: 40px;
width: 150px;
border: none;
border-radius: 20px;
color:rgba(0, 0, 0, 0.684);
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 16px;
font-weight: bold;
cursor: pointer;
margin-right: 20px;
transition: box-shadow 0.15s;
}
.add-to-cart:hover{
box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
}

.buy-now{
height: 40px;
width: 150px;
background-color: rgb(255, 164, 28);
color:rgba(0, 0, 0, 0.684);
border: none;
border-radius: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 16px;
cursor: pointer;
transition: box-shadow 0.15s;
}
.buy-now:hover{
box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
}
