p{
  margin-top: 0;
  margin-bottom: 0;
}
.text-html{
font-family: verdana;
font-weight:600;
margin-top: 5px;

}
.text-beginner{
margin-top: 5px;
font-family: verdana;
color:gray;
font-size: 14px;
font-weight: 600;

}
.text-developer{
margin-top: 15px;
width: 240px;
}

.get-started{
margin-top: 20px;
font-family: verdana;
padding:8px 16px;
background-color:rgb(35, 100, 35) ;
color:white;
border: none;
border-radius: 5px;


}