.email-p{
  font-size: 15px;
  margin-bottom: 5px;
  color:grey;
}


.email{
  display: block;
  width:326px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 3px;
  border-color:rgb(154, 153, 153);
  border-style: solid;

 
}

.para{
  font-size: 14px;
  width: 359px;
  color:gray;
}

.agree{
  width:329px;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: lighter;
  padding-top:15px;
  padding-bottom: 15px;
  background-color:rgb(73, 119, 204);
  border:none;
  color:rgba(255, 255, 255, 0.836);
  border-radius: 30px;


}