p{
  padding: 0;
  margin: 0;
}
.div1{
  display: inline-block;
  border: 2px solid  rgb(218, 216, 216);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius:5px ;
  
}
.div1 img{
  width: 200px;
  height: 190px;
}
.text1-div1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:bold;
  margin-left: 5px;
  margin-top: 10px;
  padding-bottom: 8px;

}
.text2-div1{
  margin-left: 5px;
  color:gray;
  font-family: Arial;
  font-size: 14px;
  margin-bottom:10px;
}
.div1-button{
  margin-left: 5px;
  padding:10px 15px;
  background-color: rgb(24,105,255);
  border: none;
  color:white;
  font-size: 15px;
  border-radius: 2px;
  font-weight:500;
  font-family: Arial;
  margin-bottom: 13px;
}

.div2{
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
  border: 2px solid rgb(215, 211, 211);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.div2 img{

  width:200px;
  height:190px;
}

.text1-div2{
  margin-top:10px;
  margin-left: 5px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:700;
  font-size: 16px;

}
.text2-div2{
  color:gray;
  margin-top:10px;
  margin-left: 5px;
  font-family: Arial;
  font-size: 14px;
}

.div2-button2{
  margin-top:10px;
  margin-left: 5px;
  padding: 10px 15px;
  background-color: rgb(24,105,255);
  border: none;
  color:white;
  font-family:Arial;
  font-size: 15px;
  font-weight: 500;
  border-radius: 2px;
  margin-bottom: 10px;
}

.div3{
  margin-left: 20px;
  border: 2px solid rgb(214, 209, 209);
  display: inline-block;
  vertical-align: top;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
.div3 img{
  width:200px;
  height: 190px;
  
}

.text1-div3{
  margin-top: 13px;
  font-family:Arial;
  font-size: 16px;
  font-weight:550;
  margin-left: 5px;
}

.text2-div3{
  margin-top: 8px;
  margin-left: 5px;
  font-family: Arial;
  font-size: 14px;
  color:gray;
}
.button-div3{
  margin-top:8px;
  margin-left: 5px;
  padding:10px 13px;
  font-size: 16px;
  color: white;
  background-color: rgb(24,105,255);
  border:none;
  border-radius: 2px;
  margin-bottom: 10px;
 }

