
div{
  text-align:center;
}

.google-logo img{
  width:200px;
  margin: 10px 0;
}



.searchbox input{
  
  padding: 12px 16px;
  width:500px;
  
  border-radius: 30px;
 
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  border: none;
}




.google,.lucky{
  margin-right: 20px;
  padding:12px 20px;
  
  font-weight:500;
  font-size: 15px;
  background-color: rgb(245, 245, 245);
  border: none;
  cursor: pointer;
}